html, body{
   overflow-x: hidden;
 }
 body.home {
   color:#353535;
   background: #c7ced0;
 }

 /* Font Styles */
 .hero h1 {
   font-family: 'Roboto', sans-serif;
   font-size: 36px;
   line-height: 50px;
   font-weight: 400;
   margin-bottom: 5px;
 }
 h2 {
   font-family: 'Roboto Slab', serif;
   font-size:20px;
   line-height: 36px;
   font-weight: 300;
   margin-bottom: 20px;
   color: #478b95;
 }
 h3 {
   font-family: 'Roboto', sans-serif;
   font-size: 22px;
   font-weight: 400;
   letter-spacing: 0.2em;
   margin-bottom: 5px;
 }
 h5 {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 400;
   margin-top: 45px;
 }
 .pricing h4 {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 40px;
   font-weight: 400;
 }
 h6 {
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
   line-height: 30px;
   font-weight: 400;
   margin-bottom: 25px;
   margin-top:25px;
 }
 h7 {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 0.15em;
   margin-bottom: 5px;
 }
 h8 {
   font-family: 'Roboto', sans-serif;
   font-size: 12px;
   font-weight: 400;
 }
 h9 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 5px;
}
 h10 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
 p {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}


 /* HEADER */
 /* Hero image */
 header {
   color:#353535;
   background-image: url("images/hero.png");
   min-height: 1250px;
   width:100%;
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
 }

 /* Hero navigation */
 header nav {
   padding: 1em 0;
   margin: 0px;
   max-height:120px;
   background-color: #353535;
   width: 100%;
   height:auto;
 }
 header nav ul {
   text-align: right;
   float:right;
   margin: 0px;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin: 34px 15px 0px;
 }
 header nav ul > li.btn-outline {
   padding: 12px 14px;
   text-align: center;
   border: 3px solid #FFFFFF;
   font-weight: 400;
   min-width: 100px;
   position:relative;
   display: inline-block;
   box-shadow: 1px 0% 3px 20% #000000;
   margin: 34px 15px 0px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#353535;
 }
 header .btn {
   margin: -120px 2% 0px 0px;
   float:right;
 }
 header .btn:before,
 header .btn:after {
   content: " ";
   display: table;
 }
 header .btn:after {
   clear: both;
}

 /* Hero text */
 header .hero {
   text-align: left;
   display: block;
   float: left;
   margin: 15% 0 0 10%;
   width: 20%;
 }
 header .site-logo {
   margin-left: 3%;
   margin-top: 15px;
 }
html, header nav.container {
 margin: 0px;
}

 /* Buttons */
 .btn-header {
   color: #FFFFFF;
   font-weight: 400;
   text-decoration: none;
   text-align: center;
   padding: 12px 14px;
   background: #d47a34;
   border: 3px solid #d47a34;
   display: inline-block;
   min-width: 100px;
   position: relative;
   box-shadow: 1px 0% 3px 20% #000000;
 }
 .btn-trial-casual:hover, .btn-header:hover, .btn-trial:hover, .btn-trial-header:hover {
   background:#e38f4d;
   border: 3px solid #e38f4d;
 }
 .btn-trial {
   color: #FFFFFF;
   font-weight: 400;
   text-decoration: none;
   text-align: center;
   padding: 12px 14px;
   background: #d47a34;
   border: 3px solid #d47a34;
   display: inline-block;
   min-width: 120px;
   box-shadow: 1px 0% 3px 20% #000000;
   margin-bottom: 40px;
   margin-top: 20px;
 }
 .btn-trial-header {
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding: 12px 14px;
  background: #d47a34;
  border: 3px solid #d47a34;
  display: inline-block;
  min-width: 120px;
  box-shadow: 1px 0% 3px 20% #000000;
 }
 .btn-trial-casual {
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding: 12px 14px;
  background: #d47a34;
  border: 3px solid #d47a34;
  display: inline-block;
  min-width: 120px;
  box-shadow: 1px 0% 3px 20% #000000;
  margin-bottom: 40px;
  margin-top: 60px;
}
 .btn-brown {
   color: #FFFFFF;
   font-weight: 400;
   text-decoration: none;
   text-align: center;
   padding: 14px 16px;
   background: #353535;
   border: 3px solid #353535;
   display: inline-block;
   min-width: 100px;
   box-shadow: 1px 0% 3px 20% #000000;
 }
 .btn-brown:hover {
   background:#484545;
   border: 3px solid #484545;
 }


/* BENEFITS */
 .benefits {
   text-align: left;
   display:block;
   position:relative;
}
 .benefits ul {
   margin: 0 auto;
   padding:4em 0;
   margin: 0px;
 }
 .benefits ul li {
   list-style-type: none;
 }
 .benefits h3 {
   color: #353535;
 } 

 /* Create Notes Benefit */
 .create-notes img {
   float: left;
   width: 50%;
   height: auto;
 }
 .create-notes-text.one-half {
   padding-right:15px;
   padding-left:40px;
   position: relative;
   width: 30%;
   height: auto;
 }


 /* Save Images Benefit */
 .save-images img {
   float: right;
   width: 50%;
   height: auto;
   margin-top: 13%;
 }
 .save-images-text.one-half {
   padding-right:15px;
   padding-left:40px;
   position: relative;
   width: 30%;
   height: auto;
 }
 

 /* Add Links Benefit */
 .add-links img {
   float: left;
   width: 50%;
   height: auto;
   margin-top: 20%;
 }
 .add-links-text.one-half {
   padding-right:15px;
   padding-left:40px;
   position: relative;
   width:30%;
   height: auto;
 }


/* PRICING */
/* Three pricing columns of equal width for pricing boxes */
.columns {
  display: inline-block;
  width: 30%;
  margin: 10px 20px;  
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

/* There pricing boxes group */
div.columns-group {
  display: inline-block;
  margin: 20px auto;
  margin-bottom:80px;
  width: 80%;
}

/* Style for the list */
.price {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Pricing boxes shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}

/* Pricing header */
.price .header {
  background-color: #478b95;
  color: #FFFFFF;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}

/* Pricing list items */
.price li {
  text-align: center;
}

/* Pricing section */
 .pricing {
   text-align: center;
   height: auto;
   background-position: relative;
   background-color: #353535;
   border-radius: 0px 500px 0px 0px;
   min-width:100%;
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
}
 .pricing h6 {
   color:#478b95;
 }
 .pricing h4 {
   background-color: #478b95;
   color: #FFFFFF;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   text-align: center;
   background-position: top center;
   margin:0 auto;  
 }
 .pricing ul {
   margin:0 auto;
 }
 .pricing ul .casual {
   margin-bottom:0px;
 }
 .pricing ul li {
   list-style-type: none;
 } 
 .pricing h3 {
   color: #FFFFFF;
   padding-top: 80px;
 }
 .pricing p {
   color: #FFFFFF;
   width: 50%;
   margin: 20px auto;
 }


 /* TESTIMONIALS */
 /* Testimonials section */
 .testimonials {
 background-color: #478b95;
 border-radius: 0px 0px 0px 500px;
 height: auto;
 padding:4em 0;
 text-align: center;
 }
 .testimonials ul li {
 list-style-type: none;
 }
 .testimonials-bg {
 background:#353535;
 position: relative;
 padding:10px;
 width: auto;
 max-width: 100%;
 height: auto;
 border-radius: 20px; 
 margin: 10px;
 }
 .testimonials p.name {
 text-align: left;
 font-size:13px;
 color: #FFFFFF;
 width:100%;
 margin-left: 20px;
 }
 .testimonials p.saying {
 text-align: left;
 font-size:14px;
 color: #FFFFFF;
 width: 100%;
 }
 .testimonials p, h3{
 color:#FFFFFF;
 }
 .testimonials p {
 width: 50%;
 margin: 20px auto;
 }
 
 /* Testi - Testimonials one-half testimonials box - There are four of them*/
.testi {
  background:#353535;
  position: relative;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  border-radius: 20px;
  display: inline-block;
}
.testi::after {
  content: "";
  clear: both;
  display: table;
}
.testi img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  width: auto;
  height: auto;
  max-width: 140px;
}


 /* FOOTER */
 footer {
   background-color: #353535;
   color: #FFFFFF;
   height: auto;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer .copyright-block {
   float: left;
   margin: 75px 0px 0px 13%;
 }
 footer .logo {
   float: right;
   margin: 5% 13% 0px 0px;
   max-height: auto;
   max-width: auto;
 }
 footer div ul li {
   list-style-type: none;
  }
 footer ul {
   padding:0px;
 }  
 footer div ul li a {
  color:#FFFFFF;
  text-decoration: none;
  } 
/* There is a 4 columns layout in footer */ 
.column {
  float: left;
  width: 25%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
   display: block;
   min-width: 100%;
   min-height: 153px;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .benefits .one-half {
   max-width:96%;
   float:left;
   min-height: 1px;
   margin:0 5% 0;
   position:relative;
   padding: 15% 0;
   max-height: 450px;
 } 
 li.testimonials-bg.one-half {
  max-width:96%;
  display: inline-block;
  margin:0 2% 20px;
  position:relative;
  max-height:100%;
  width:30%;
 }
 div.testi.one-half {
  max-width:96%;
  display: inline-block;
  margin:0 20px 35px 10px;
  position:relative;
  max-height:100%;
  width:30%;
 }
 div.testimonials-group {
  display: inline-block;
  margin: 15px auto;
  width: 90%;
 }

/* DASHBOARD */
 body.dashboard {
   background-color:#F9F9F4;
   height: 100%;
   position: relative;
 }
 .header {
   display: inline-block;
   margin-bottom: 30px;
   background-color: #353535;
   height:auto;
   width: 100%;
 }
 .header .settings {
   float: right;
   margin: 3.5% 2%;
 }
 .header p {
   display: inline-block;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 15px;
   color: #b7b7b7;
   letter-spacing: 0.2em;
   margin: 5px 5px;
 }
 .header h2 {
   display: inline-block;
   font-size: 12px;
   letter-spacing: 0.2em;
   font-family: 'Roboto', sans-serif;
   color: #b7b7b7;
 }
 .search-field input {
   float: left;
   background-color: #efefef;
   border: none;
   outline: none;
   font-size: 12px;
   letter-spacing: 0.2em;
   font-family: 'Roboto', sans-serif;
   color: #b7b7b7;
   padding: 10px 5px;
   width: auto !important;
 }
 .search-field {
   float: left;
   background: #efefef;
   margin: 4% 2%;
   padding: 0.5% 7.5% 0.5% 0.5%;
 }
 .fa.fa-search {
   float: left;
   color: #777777;
   padding: 5px 2px 0px 10px;
   font-size: 22px;
 }
 .settings-image {
  vertical-align: middle;
 }
 .fa.fa-chevron-circle-down{
  color: #dd965f;
  font-size: 16px;
 }
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 0px;
   padding-right: 0px;
   position: relative;
 }
 .left-nav {
   display:inline-block;
   height: 100%;
   width: 280px;
   position: absolute;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
     -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
     -o-transform: translate(-280px,0); /** Opera **/
     -moz-transform: translate(-280px,0); /** Firefox **/
 }
 .left-nav.open {
  display:block;
  width:280px;
  background: #353535;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
    z-index: 100;
}
.hamburger {
  display: inline-block;
  position:relative;
  z-index: 1000;
  background:#DD965F;
  color:#353535;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 3% 2%;
  float: left;
}
.left-nav .site-logo {
  padding: 20px 20px;
  background:#478b95;
  display:block;
  text-align: center;
  width:auto;
  height: auto;
  position: relative;
}
.left-nav .items {
  padding:0;
}
.left-nav .items p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 20px;
  margin: 30px 20px;
}
.left-nav .items ul {
  margin:0 20px 40px;
  padding:0;
}
.left-nav .items ul li {
  list-style-type: none;
  margin-bottom: 25px;
}
.left-nav .items ul li a {
  color:#FFFFFF;
  text-decoration: none;
  font-family:'Roboto', sans-serif;
  font-weight: 400;
}
.left-nav .items ul li a i {
  width:16px;
  text-align: center;
  margin-right:8px;
}
li.all-items {
 padding: 10px;
}
.left-nav .all-items {
 padding:0;
}
.left-nav .-all-items p {
 font-family: 'Roboto', sans-serif;
 font-weight: 500;
 text-transform: uppercase;
 font-size: 16px;
 color: #FFFFFF;
 line-height: 20px;
 margin: 30px 20px;
}
.left-nav .all-items ul {
 margin: 0 20px 0px;
 padding:0;
}
.left-nav .all-items ul li {
 list-style-type: none;
 margin-bottom: 15px;
 padding: 10px 0px;
}
.left-nav .all-items ul li a {
 color:#FFFFFF;
 text-decoration: none;
 font-family:'Roboto', sans-serif;
 font-weight: 400;
}
.left-nav .all-items ul li a i {
 width:16px;
 text-align: center;
 margin-right:8px;
}
div.all-items {
 background-color: rgba(71,139,149,0.4);
}
/*DASHBOARD CONTAINER*/
.dashboard-container{
 width: 100%;
}
 
/* CONTENT */
 .content {
   padding:6em 1% 1.5em;
   float:right;
   width:98%;
   position: relative;
   height: auto;
 }
 .content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
 }
 .item-box h4{
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 14px;
   color: #353535;
   margin-top: 0px;
 }
 .item-box {
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:30px;
 }
 .item-box-button{
  height:230px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
  position: relative;
  padding:30px;
  display: flex;
  align-items: center;
  justify-content: center;   
 }
 .item-box > img {
   position:absolute;
   height:100%;
   width:auto;
   top:0;
   left:0;
   right:0;
 }
 .item-box p {
   font-size: 14px;
   color: #353535;
   line-height: 18px;
   margin:0;
   font-size: 13px;
   line-height: 20px;
   font-family:'Roboto', sans-serif;
   font-weight: 300;
 }
 img.favicon {
   width: 16px;
   height: 16px;
   position:relative;
   top:2px;
   margin-right:5px;
 }
 a.btn {
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 15px 12px 14px;
  background: #d47a34;
  border: 3px solid #d47a34;
  width: 120px;
  height: 30px;
  box-shadow: 1px 0% 3px 20% #000000;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
}
 a.btn:hover {
  background:#e38f4d;
  border: 3px solid #e38f4d;
}


/*MEDIA QUARIES*/

 @media only screen and (max-width: 1000px) {
   .columns {
    width: 40%;
   }
   .save-images img {
    width: 100%;
    margin-top:16%;
   }
 }


 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
   .save-images img {
    margin-top: 16%;
   }
  }

@media (max-width: 1200px) {
   .save-images img {
    margin-top: 13%;
  }
 }


@media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
   .pricing .columns {
       width: 60%;
   }
   div.testi.one-half {
      width: 50%;
   }
 }

 @media (max-width: 1080px) {
  header {
    background: transparent !important;
    height: auto;
    min-height:0;
    width: 100%;
  }
  header .hero {
    text-align: center;
    display: block;
    float: left;
    margin: 10% 0 5% 20%;
    width: 60%;
  }
  header .btn-trial-header:hover {
   background:#e38f4d;
   border: 3px solid #e38f4d;
  }
  .create-notes img {
    width: 100%;
  }
  .create-notes-text.one-half {
    width: 60%;
    text-align: center;
    margin-left:20%;
  }
   .save-images img {
    width: 100%;
    margin: 0%;
  }
   .save-images-text.one-half {
    width: 60%;
    text-align: center;
    margin-left:20%;
  }
    .add-links img {
     width: 100%;
     margin: 0%;
  }
    .add-links-text.one-half {
     width:60%;
     text-align: center;
     margin-left:20%;
  }
    .column {
     width: 100%;
  }
    .pricing .columns {
     width: 40%;
  }
  div.testi.one-half {
      width: 30%;
   }
}


 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%; 
     margin:0 1% 25px;
   }
   .container {
     width: 750px;
   }
   .pricing .columns {
       width: 50%;
   }
   div.testi.one-half {
      width: 30%;
   }
 }


 @media (max-width: 992px) {
   .settings.dropit {
    margin: 2.5% 2%;
   }
   .search-field {
   float: left;
   background: #efefef;
   margin: 3.1% 2%;
   }
   img.logo {
       float:none;
     }
     div.column {
       margin-left: 10%;
     }
     h8.copyright-block {
       margin-left:0;
     }
     div.testi.one-half {
      width: 30%;
     }
     div.testi.one-half {
      width: 50%;
     }
   }


 @media (min-width:992px) {
   .content {
     padding:0em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
   .dashboard .header {
     position: relative;
     float: right;
     width: 85.33333333%;
   }
   .site-logo {
    max-width: 100%;
   } 
  .left-nav {
    height: 100vh;
    width:14.66666667%;
    color:#FFFFFF;
    background: #353535;
    float:left;
    position: fixed;
    display:block;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  }
  .left-nav.open {
    width:14.66666667%;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  }
  .hamburger {
    display:none;
  }
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .btn {
     max-width: 70%;
   }
   .site-logo {
     max-width: 100%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
   .one-fifth {
     width:17.6%;
   }
   .columns {
    max-width:27%;
   }
 }

 
 @media (max-width: 640px) {
     .header p, .settings-image
     {
       display: none;
     }
     .fa.fa-chevron-circle-down {
       margin: 15px 15px 0;
     }
     .search-field {
       margin: 3.8% 2%;
     }
     .content {
       padding:0;
     }
     .hamburger {
       top: 2.5%;
     }
     .pricing .columns {
       width: 70%;
     }
     header .btn {
       float:none;
       margin: 2% 0% 0% -3%;
       text-align: center;
       display:flex;
       justify-content: center;
       padding-bottom: 6%;
     }
     header nav ul {
       margin-left: -6.5%;
     }
     header .site-logo {
       margin-left: -3%;
     }
     img.logo {
       float:none;
     }
     li.btn-outline {
       color: #FFFFFF;
       font-weight: 400;
       text-decoration: none;
       text-align: center;
       padding: 14px 16px;
       background: #353535;
       border: 3px solid #353535;
       display: inline-block;
       min-width: 100px;
       box-shadow: 1px 0% 3px 20% #000000;
     }
     li.btn-outline:hover {
       background:#484545;
       border: 3px solid #484545;
     }
     header nav ul > li.btn-outline {
       padding: 12px 14px;
       text-align: center;
       border: 3px solid #353535;
       font-weight: 400;
       min-width: 100px;
       position:relative;
       display: inline-block;
       box-shadow: 1px 0% 3px 20% #000000;
       margin: 34px 15px 0px;
     }
     div.column {
       margin-left: 10%;
     }
     div.site-logo {
       display:flex;
       justify-content: center;
       padding: 3px;
     }
     h8.copyright-block {
       margin-left:0;
     }
     div.testi.one-half {
      width: 50%;
     }
   }
 